doctype html
head
  meta(charset='UTF-8')
  title Results Page
div
  p
    font(face='verdana' size='6' color='DeepPink')
      | There is !{dogs} Dogs, !{cats} Cats, !{ mouse } Mice and !{ camo } Cat and Mouse!
  img(src='https://i.pinimg.com/originals/91/2f/ca/912fca522ad00eba102532ae1f399765.gif' width='200' height='200')
  img(src='https://thumbs.gfycat.com/WhimsicalVigilantIchthyostega-size_restricted.gif' width='200' height='200')
  img(src='https://media2.giphy.com/media/YewGLyBcSmOIw/source.gif' width='200' height='200')
  img(src='https://i.imgur.com/gQnzQ.gif' width='300' height='200')
  p  
    font(face='verdana' size='6' color='DeepPink')  See the full list of all Cats, Dogs and Mice below: </br>
    font(face='verdana' size='4' color='HotPink') 
      | !{results}
     
